name: "Hello world workflow"

on:
  push:
    branches:
      - master
      - production

jobs:
  hello_word:
    runs-on: ubuntu-latest
    steps:
      - name: "Print hello world"
        run: echo "Hello world"
      - name: "Print current date"
        run: date